<div>
    <img  id="ues-logo"
    src="{{ url_for('static', filename='BMW.svg.png')}}" 
    alt="UMB logo" 
    width="100px">
    <button class="btn btn-primary mt-3 ues-btn" href="{url_for('inicio')}" > <i class="bi bi-house-door-fill"></i> Inicio</button>
    <!-- <button class="btn btn-primary mt-3 ues-btn"> <i class="bi bi-browser-edge"></i> Explorar</button>
    <button class="btn btn-primary mt-3 ues-btn"> <i class="bi bi-bell-fill"></i> Alertas</button>
    <button class="btn btn-primary mt-3 ues-btn"> <i class="bi bi-envelope"></i> Mensajes</button>
    <button class="btn btn-primary mt-3 ues-btn">  <i class="bi bi-person-fill"></i> Perfil</button> -->


</div>