
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css')}}">
    <title>Inicio</title>
</head>

<!-- <form  action="{{url_for('actualizar', id= persona.id)}}" method="POST" id="contenedor2"></form>
    <h2>ACTUALIZAR</h2>
    <h4 id="text606">ID</h4>
    <input class="form-control2"  type="text" name="id_a" id="id_a" value="{{persona.id }}">
    <h4 id="text606">Nombre</h4>
    <input class="form-control2"  type="text" name="txtnombre_a" id="txtnombre_a" value="{{persona.nombre }}">
    <h4 id="text606">Edad</h4>
    <input class="form-control2"  type="text" name="txtedad_a" id="txtedad_a" value="{{persona.edad }}">
    <h4 id="text606">Comunidad</h4>
    <input class="form-control2"  type="text" name="txtcom_a" id="txtcom_a" value="{{persona.comunidad }}">
    <h4 id="text606">Sexo</h4>
    <input class="form-control2"  type="text" name="txtsexo_a" id="txtsexo_a" value="{{persona.sexo }}">
    <h4 id="text606">Aportaciones</h4>
    <input class="form-control2"  type="text" name="txtaport_a" id="txtaport_a" value="{{persona.aportaciones }}">
    <h4 id="text606">Documento</h4>
    <input class="form-control2" type="file" name="txtdoc_a" id="txtdoc_a" value="{{persona.documentos }}">
    <button type="submit" class="btn btn-info float-right ues-info">Actualizar</button>
            
</form> -->

<form action="{{url_for('actualizar', id=persona.id)}}" method="POST">
    <div class="form-group">
        <h2>ACTUALIZAR</h2>
        <h4>ID</h4>
        <input class="form-control" type="text" name="id_a" id="id_a" value="{{persona.id }}">
        <h4>Nombre</h4>
        <input class="form-control" type="text" name="txtnombre_a" id="txtnombre_a" value="{{persona.nombre }}">
        <h4>Modelo</h4>
        <input class="form-control" type="text" name="txtmodelo_a" id="txtmodelo_a" value="{{persona.modelo }}">
        <h4>Costo</h4>
        <input class="form-control" type="text" name="txtcosto_a" id="txtcosto_a" value="{{persona.costo}}">
        <h4>Cantidad</h4>
        <input class="form-control" type="text" name="txtcantidad_a" id="txtcantidad_a" value="{{persona.cantidad}}">
    </div>
    <div class="form-group mt-4" >
        <button type="submit" class="btn btn-info float-right ues-info">ACTUALIZAR</button>
    </div>
    

</form>