{% extends 'main.html' %}

{% block cabecera %}
      <title>Registro</title>
{% endblock %}

{% block cuerpo%}
     <div class="container">
        <div class="row">
            <div class="col-2">
                {% include 'componentes/navbar.html'%}
                {% include 'componentes/publicar-modal.html'%}
                
            </div>
            <div class="col-6">
                <h5 class="text-center">REGISTRO DE AUTOMOVILES</h5>
                
                <hr>
                {% for persona in personas %}
                    {{persona.nombre }}
                    {{persona.modelo }}
                    {{persona.costo }}
                    {{persona.catidad }}
                    
                {% endfor %}
                <br><br> <br> <br><h2 class="text-center">BIENVENIDO REGISTRATE</h2>
            </div> 
            

        </div>

     </div>
{% endblock%}